.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 4vw;
    padding: 30px 25px;
}

.hero--photo-grid {
    width: 55vw;
    align-self: center;
}

.hero--title {
    font-size: 2.5vw;
    font-weight: 600;
    margin-top: 8vh;
    margin-bottom: 0;
}

.hero--description {
    font-size: 1.5vw;
    font-weight: 300;
    width: 70%;
}

/* Responsive width */
@media (min-width: 1600px) {
    .hero--photo-grid {
        width: 50vw;
    }

    .hero--title {
        font-size: 3vw;
    }

    .hero--description {
        font-size: 2vw;
    }
}

@media (max-width: 768px) {
    .hero--photo-grid {
        width: 80vw;
    }
    
    .hero--title {
        font-size: 6vw;
        margin-top: 4vh;
    }

    .hero--description {
        font-size: 4vw;
    }
}