.card {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 30%;
}

.card p {
    margin: 0;
}

.card--top {
    position: relative;
}

.card--status {
    position: absolute;
    font-size: 60%;
    font-weight: 400;
    left: 0.8vw;
    top: 0.8vw;
    color: #222222;
    padding: 0.3rem;
    background-color: white;
    border-radius: 0.8vw;
}

.card--img {
    width: 100%;
    border-radius: 9px;
}

.card--rating {
    display: flex;
    align-items: center;
    margin-bottom: 0.6vw;
}

.card--description {
    margin-bottom: 0.6vw;
}

.card--star {
    width: 1.3vw;
    margin-right: 0.5vw;
}

@media (min-width: 768px) {
    .card {
        width: 25%;
    }
}

@media (min-width: 992px) {
    .card {
        width: 15%;
    }
    
    .card--status {
        padding: 0.3rem;
    }
}

@media (min-width: 1600px) {
    .card {
        width: 15%;
    }
    
    .card--status {
        font-size: 70%;
        padding: 0.5rem;
    }
}