.navbar {
    display: flex;
    align-items: center;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.navbar--logo {
    width: 28vw;
    padding: 4vw 4vw;
}

@media (min-width: 576px) {
    .navbar--logo {
        width: 20vw;
        padding: 3vw 3vw;
    }
}

@media (min-width: 768px) {
    .navbar--logo {
        width: 18vw;
        padding: 3vw 2vw;
    }
}

@media (min-width: 1000px) {
    .navbar--logo {
        width: 16vw;
        padding: 2vw 2vw;
    }
}

@media (min-width: 1200px) {
    .navbar--logo {
        width: 14vw;
        padding: 2vw 2vw;
    }
}

@media (min-width: 1600px) {
    .navbar--logo {
        width: 12vw;
        padding: 2vw 2vw;
    }
}
